#!/usr/bin/env bash

{{ template "sudo.tmpl" . }}
{{ template "pkg_install.tmpl" . }}

# {{ include ".assets/themes/grub" | sha256sum }}
# {{ include ".assets/themes/icons" | sha256sum }}
# {{ include ".assets/themes/cursor" | sha256sum }}

### cursor theme

echo "Installing cursor theme..." 2>&1 | tee -a log.txt

[[ -d /usr/share/icons/cursor-theme ]] && sudo rm -rf /usr/share/icons/cursor-theme >> log.txt 2>&1
sudo mkdir -p "/usr/share/icons/cursor-theme" >> log.txt 2>&1

TMP_FOLDER=$(mktemp -d)
sudo tar -xf "{{ .chezmoi.sourceDir }}/.assets/themes/cursor/*.tar.*" -C "$TMP_FOLDER" >> log.txt 2>&1
sudo mv "$TMP_FOLDER/*" /usr/share/icons/cursor-theme
sudo chmod -R 755 /usr/share/icons/cursor-theme >> log.txt 2>&1

sudo mkdir -p /usr/share/icons/default >> log.txt 2>&1
sudo bash -c 'cat <<EOF > /usr/share/icons/default/index.theme
[Icon Theme]
Inherits=cursor-theme
EOF' >> log.txt 2>&1

sudo bash -c 'cat <<EOF > /etc/profile.d/cursor.sh
export XCURSOR_THEME="cursor-theme"
export XCURSOR_SIZE="18"
export HYPRCURSOR_THEME="cursor-theme"
export HYPRCURSOR_SIZE="18"
EOF' >> log.txt 2>&1

sudo chmod +x /etc/profile.d/cursor.sh >> log.txt 2>&1

### icons theme

echo "Installing icons theme..." 2>&1 | tee -a log.txt

[[ -d /usr/share/icons/icons-theme ]] && sudo rm -rf /usr/share/icons/icons-theme >> log.txt 2>&1
sudo mkdir -p "/usr/share/icons/icons-theme" >> log.txt 2>&1

TMP_FOLDER=$(mktemp -d)
sudo tar -xf "{{ .chezmoi.sourceDir }}/.assets/themes/icons/*.tar.*" -C "$TMP_FOLDER" >> log.txt 2>&1
sudo mv "$TMP_FOLDER/*" /usr/share/icons/icons-theme

### gtk themes

echo "Installing gtk themes..." 2>&1 | tee -a log.txt

gsettings set org.gnome.desktop.interface font-name 'Manrope ExtraLight Medium Regular 14' >> log.txt 2>&1
gsettings set org.gnome.desktop.interface icon-theme 'icons-theme' >> log.txt 2>&1
gsettings set org.gnome.desktop.interface gtk-theme 'adw-gtk3-dark' >> log.txt 2>&1
gsettings set org.gnome.desktop.interface cursor-theme 'cursor-theme' >> log.txt 2>&1
gsettings set org.gnome.desktop.interface cursor-size 18 >> log.txt 2>&1

### grub theme

echo "Installing grub theme..." 2>&1 | tee -a log.txt

THEME_DIR="/boot/grub/themes"
THEME_NAME=Particle-circle-window

[[ -d /boot/grub/themes/grub-theme ]] && sudo rm -rf /boot/grub/themes/grub-theme >> log.txt 2>&1
sudo mkdir -p "/boot/grub/themes/grub-theme" >> log.txt 2>&1

TMP_FOLDER=$(mktemp -d)
sudo tar --no-same-owner -xf "{{ .chezmoi.sourceDir }}/.assets/themes/grub/*.tar.*" -C "$TMP_FOLDER" >> log.txt 2>&1
sudo mv "$TMP_FOLDER/*" /boot/grub/themes/grub-theme

sudo cp -an /etc/default/grub /etc/default/grub.bak >> log.txt 2>&1

sudo grep "GRUB_THEME=" /etc/default/grub 2>&1 >/dev/null && sudo sed -i '/GRUB_THEME=/d' /etc/default/grub 
echo "GRUB_THEME=\"/boot/grub/themes/grub-theme/theme.txt\"" | sudo tee -a /etc/default/grub >> log.txt 2>&1

sudo grep "GRUB_TIMEOUT=" /etc/default/grub 2>&1 >/dev/null && sudo sed -i '/GRUB_TIMEOUT=/d' /etc/default/grub 
echo "GRUB_TIMEOUT=1" | sudo tee -a /etc/default/grub >> log.txt 2>&1

sudo grep "GRUB_GFXMODE=" /etc/default/grub 2>&1 >/dev/null && sudo sed -i '/GRUB_GFXMODE=/d' /etc/default/grub 
echo "GRUB_GFXMODE=\"1920x1080x32,auto\"" | sudo tee -a /etc/default/grub >> log.txt 2>&1

if command -v update-grub > /dev/null; then
  sudo update-grub >> log.txt 2>&1
elif command -v grub-mkconfig > /dev/null; then
  sudo grub-mkconfig -o /boot/grub/grub.cfg >> log.txt 2>&1
elif command -v zypper > /dev/null || command -v transactional-update > /dev/null; then
  sudo grub2-mkconfig -o /boot/grub2/grub.cfg >> log.txt 2>&1
elif command -v dnf > /dev/null || command -v rpm-ostree > /dev/null; then
  if [[ -f /boot/efi/EFI/fedora/grub.cfg ]]; then
    sudo grub2-mkconfig -o /boot/efi/EFI/fedora/grub.cfg >> log.txt 2>&1
  elif [[ -f /boot/grub2/grub.cfg ]]; then
    sudo grub2-mkconfig -o /boot/grub2/grub.cfg >> log.txt 2>&1
  fi
fi

### root bashrc

sudo cp "{{ .chezmoi.sourceDir }}/dot_bashrc" "/root/.bashrc" >> log.txt 2>&1
