#!/usr/bin/env bash

{{ template "sudo.tmpl" . }}
{{ template "pkg_install.tmpl" . }}

# {{ include ".assets/packageList" | sha256sum }}

### noctalia greeter

echo -e "Installing greeter..." 2>&1 | tee -a log.txt

sudo cp "{{ .chezmoi.sourceDir }}/.assets/greetdconfig.toml" "/etc/greetd/config.toml" >> log.txt 2>&1

sudo systemctl disable display-manager.service || true >> log.txt 2>&1

sudo systemctl enable greetd >> log.txt 2>&1

### hyprland plugins

echo -e "Installing hyprland plugins..." 2>&1 | tee -a log.txt

if [[ $(awk "/^hyprland$/" {{ .chezmoi.sourceDir }}/.assets/packageList) != "" ]]; then
  if ! pgrep -x "Hyprland" > /dev/null; then
    Hyprland &
    HYPR_PID=$!
    sleep 2
    STARTED_NOW=true
  else
    STARTED_NOW=false
  fi
  hyprpm update >> log.txt 2>&1
  hyprpm add https://github.com/hyprnux/hyprglass >> log.txt 2>&1
  hyprpm enable hyprglass >> log.txt 2>&1
  hyprpm add https://github.com/virtcode/hypr-dynamic-cursors >> log.txt 2>&1
  hyprpm enable dynamic-cursors >> log.txt 2>&1
  if [ "$STARTED_NOW" = true ]; then
    kill "$HYPR_PID"
  fi
fi;

### auto-cpufreq

if [[ $(awk "/^auto-cpufreq$/" {{ .chezmoi.sourceDir }}/.assets/packageList) != "" ]]; then
  sudo cp {{ .chezmoi.sourceDir }}/.assets/auto-cpufreq.conf /etc/auto-cpufreq.conf >> log.txt 2>&1
  sudo systemctl enable auto-cpufreq  >> log.txt 2>&1
fi;

### pacman-contrib

if [[ $(awk "/^pacman-contrib$/" {{ .chezmoi.sourceDir }}/.assets/packageList) != "" ]]; then
  sudo systemctl enable --now paccache.timer >> log.txt 2>&1
fi;

### zen-browser

awk '/^\[Install/ {in_section=1; next} /^\[/ {in_section=0} in_section && /^Default=/ {sub(/^Default=/, ""); print}' {{ .chezmoi.homeDir }}/.var/app/app.zen_browser.zen/.zen/profiles.ini | while read -r val; do
	mkdir -p "{{ .chezmoi.homeDir }}/.var/app/app.zen_browser.zen/.zen/$val/chrome" >> log.txt 2>&1
    echo "@import \"{{ .chezmoi.homeDir }}/.cache/noctalia/zen-browser/zen-userChrome.css\";" > "{{ .chezmoi.homeDir }}/.var/app/app.zen_browser.zen/.zen/$val/chrome/userChrome.css"
    echo "@import \"{{ .chezmoi.homeDir }}/.cache/noctalia/zen-browser/zen-userContent.css\";" > "{{ .chezmoi.homeDir }}/.var/app/app.zen_browser.zen/.zen/$val/chrome/userContent.css"
    flatpak override --user --filesystem={{ .chezmoi.homeDir }}/.cache/noctalia/zen-browser/zen-userContent.css app.zen_browser.zen >> log.txt 2>&1
    flatpak override --user --filesystem={{ .chezmoi.homeDir }}/.cache/noctalia/zen-browser/zen-userChrome.css app.zen_browser.zen >> log.txt 2>&1
done

### virt-manager

if [[ $(awk "/^libvirt$/" {{ .chezmoi.sourceDir }}/.assets/packageList) != "" ]]; then
	sudo systemctl enable libvirtd.service >> log.txt 2>&1
fi;

### dolphin

if [[ $(awk "/^dolphin$/" {{ .chezmoi.sourceDir }}/.assets/packageList) != "" ]]; then
	xdg-mime default org.kde.dolphin.desktop inode/directory >> log.txt 2>&1
fi;

### kitty

if [[ $(awk "/^kitty$/" {{ .chezmoi.sourceDir }}/.assets/packageList) != "" ]]; then
	xdg-mime default kitty.desktop x-scheme-handler/terminal >> log.txt 2>&1
	kwriteconfig6 --file kdeglobals --group General --key TerminalApplication kitty >> log.txt 2>&1
fi;

### ghostty

if [[ $(awk "/^ghostty$/" {{ .chezmoi.sourceDir }}/.assets/packageList) != "" ]]; then
	xdg-mime default com.mitchellh.ghostty.desktop x-scheme-handler/terminal >> log.txt 2>&1
	kwriteconfig6 --file kdeglobals --group General --key TerminalApplication ghostty >> log.txt 2>&1
fi;

### fish

if [[ $(awk "/^fish$/" {{ .chezmoi.sourceDir }}/.assets/packageList) != "" ]]; then
	chsh -s $(which fish) >> log.txt 2>&1
	sudo chsh -s $(which fish) >> log.txt 2>&1
fi;

### ark

if [[ $(awk "/^ark$/" {{ .chezmoi.sourceDir }}/.assets/packageList) != "" ]]; then
	xdg-mime default org.kde.ark.desktop application/zip >> log.txt 2>&1
	xdg-mime default org.kde.ark.desktop application/x-tar >> log.txt 2>&1
	xdg-mime default org.kde.ark.desktop application/x-7z-compressed >> log.txt 2>&1
	xdg-mime default org.kde.ark.desktop application/x-rar >> log.txt 2>&1
	xdg-mime default org.kde.ark.desktop application/x-gzip >> log.txt 2>&1
	xdg-mime default org.kde.ark.desktop application/x-bzip2 >> log.txt 2>&1
	xdg-mime default org.kde.ark.desktop application/x-xz >> log.txt 2>&1
	xdg-mime default org.kde.ark.desktop application/x-compressed-tar >> log.txt 2>&1
fi;

### xdg

sudo ln -sf /etc/xdg/menus/arch-applications.menu /etc/xdg/menus/applications.menu
rm -f ~/.cache/ksycoca6_*

