for PKG_MGR in pacman apt dnf zypper apk; do command -v $PKG_MGR &>/dev/null && break; done

diff_words() {
    local list1=$(echo "$1" | tr ' ' '\n' | sort -u)
    local list2=$(echo "$2" | tr ' ' '\n' | sort -u)
    comm -3 <(echo "$list1") <(echo "$list2") | tr -d '\t' | tr '\n' ' ' | xargs
}

pkg_install() {
  echo "Installing packages:"
  if [[ $PKG_MGR == "pacman" ]]; then
    notfound="$1"

    ### pacman
    local pacmanpkgs="$(pacman -Si $notfound 2>/dev/null | awk '/^Name/ { print $3 }')" || true
    echo -e "\t::Installing via pacman: $pacmanpkgs"
    sudo pacman -S --needed --noconfirm $pacmanpkgs 1>/dev/null 2>/dev/null || true
    notfound=$(diff_words "$notfound" "$pacmanpkgs")

    ### yay
    if [[ $notfound != "" ]]; then
      local yaypkgs="$(yay -Si $notfound 2>/dev/null | awk '/^Name/ { print $3 }')" || true
      echo -e "\t::Installing via AUR: $yaypkgs"
      yay -S --needed --noconfirm $yaypkgs 1>/dev/null || true
      notfound=$(diff_words "$notfound" "$yaypkgs")
    fi;
    
    ### flathak
    if [[ $notfound != "" ]]; then
      local flatpakpkgs="$(flatpak search --columns=application "$notfound" 2>/dev/null | tail -n +1 | awk '{print $1}')" || true
      echo -e "\t::Installing via flatpak: $flatpakpkgs"
      flatpak install flathub -y --or-update $flatpakpkgs 1>/dev/null || true
      notfound=$(diff_words "$notfound" "$flatpakpkgs")
    fi;

    if [[ $notfound != "" ]]; then
      echo "\t::Not found at all: $notfound"
    fi;
  fi;
}
